name: Deploy
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Install Dependencies
        uses: bahmutov/npm-install@v1
        with:
          working-directory: |
            backend
            frontend
  backend:
    runs-on: ubuntu-latest
    needs:
      - analysis
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Login no Heroku Container
        working-directory: backend
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:login
      - name: Push Container to Heroku
        working-directory: backend
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:push -a ${{ secrets.HEROKU_BACKEND_APP_NAME }} web
      - name: Release to Heroku
        working-directory: backend
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:release -a ${{ secrets.HEROKU_BACKEND_APP_NAME }} web
  frontend:
    runs-on: ubuntu-latest
    needs:
      - analysis
      - backend
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Login no Heroku Container
        working-directory: frontend
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:login
      - name: Build docker image
        working-directory: frontend
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          docker build . -f Dockerfile.web -t frontend
          docker tag frontend registry.heroku.com/${{ secrets.HEROKU_FRONTEND_APP_NAME }}/web
      - name: Push docker image to Heroku
        working-directory: frontend
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: docker push registry.heroku.com/${{ secrets.HEROKU_FRONTEND_APP_NAME }}/web
      - name: Release to Heroku
        working-directory: frontend
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:release -a ${{ secrets.HEROKU_FRONTEND_APP_NAME }} web
